@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS RESET */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* IMAGES RESET */
img{
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    width: 40px;
    height: 40px;

}

body{
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 13px;
    background-color: #ecf2f8;
    color: whitesmoke;
}

h1{
    font-size: 0.8rem;
    font-weight: 400;
}

h2{
    font-size: 0.6rem;
    font-weight: 100;
    letter-spacing: 0.5px;
}

h3{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

p{
    font-size: 0.7rem;
    font-weight: 100;

}

.quotes{
    border-radius: 0%;
    border: none;
    position: absolute;
    top: 0;
    width: 70px;
    height: 70px;
    right: 25%;
    z-index: -1;


}

.allcont{
    margin: 2rem;

}

.dan{
    position: relative;
    border-radius: 5px;
    background-color: #7541c8;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    box-shadow: 1px 1px 10px #00000070;
     z-index: 0;
}

.dantop, .jontop, .jeantop, .pattop, .kiratop{
    display: flex;
}

.details{
    padding: 7px;
    margin-left: 5px;
}

.jon{
    border-radius: 5px;
    background-color: #48556a;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    box-shadow: 1px 1px 10px #00000070;
  
}

.jean{
    border-radius: 5px;
    background-color: #f7f6f8;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    color: #19212e;
    box-shadow: 1px 1px 10px #00000070;

}   

.jean p {
    font-weight: 400;
}
.jean h2 {
    font-weight: 400;
}

.pat{
    border-radius: 5px;
    background-color:#19212e;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    box-shadow: 1px 1px 10px #00000070;
   
}

.kira{
    display: flex;
    flex-flow: column wrap;
    border-radius: 5px;
    background-color: #f7f6f8;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    color: #19212e;
    box-shadow: 1px 1px 10px #00000070;
 
}

.kira, p {
    font-weight: 400;
}

.kira h2 {
    font-weight: 400;
}

@media(min-width: 576px){
    .allcont{
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
        gap: 1rem;
    }

    .leftcont{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        flex-basis: 70%;
        
    
    }

    .rightcont{
        flex-basis: 20%;
        margin-top: 2rem;
    }

    .topcont{
        display: flex;
        flex-basis: 50%;

    }

    .btmcont{
        display: flex;
        flex-basis: 50%;

    }

    .dantop {
        flex-basis: 68%;

    }
    .jontop {
        flex-basis: 25%;

    }
    .jeantop {
        flex-basis: 25%;

    }
    .pattop{
        flex-basis: 68%;

    }
    
    .dan, .jean{
        margin-right: 1rem;
    }
 



}
